<header>
  <div class="home">
    <div class="topBar">
      <p class="mb-0">
        القائمة الرئيسية
      </p>
    </div>
    <!-- topBar -->

    <div class="headText">
      <p>
        هذا البرنامج
      </p>
      <p>
        فقط للبدون
      </p>
    </div>
    <!-- headText -->

    <div class="container">
      <div class="w-50 mx-auto">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <button type="button" class="btn btn-light btn-block">
              تبحث عن وظيفة ؟
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-light btn-block">
              تبحث عن موظف ؟
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="logoHead">
      <img src="assets/imgs/android-chrome-192x192.png" />
    </div>
  </div>

  <div class="container">
    <div class="actionBtn w-50 mx-auto mb-4">
      <a  routerLink="login" class="btn btn-web btn-block">
        تسجيل الدخول
      </a>
    </div>
  </div>
</header>