<footer>
    <div class="bg-white p-3">
        <ul class="list-unstyled socialLinks">
            <li>
                <a href="">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fas fa-phone"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-web font-weight-bold p-2">
        <p class="text-center text-white">
            جميع الحقوق محفوظة بس بدون @2020
        </p>
    </div>
</footer>